ul.wrapper {
    position: relative;
    margin: 50px calc(50% - 150px) 0;
    min-height: 20px;
}

div.form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px calc(50% - 400px);
}

div.form {
    box-sizing: border-box;
    padding: 38px;
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    border: 2px solid black;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li > i {
    background: url('../img/plus-16.png') center center no-repeat;
    float: left;
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-right: 8px;
}

li > i.expanded {
    background-image: url('../img/minus-16.png');
}

li > i.empty {
    background: none;
    cursor: default;
}

div > label {
    box-sizing: border-box;
    float: left;
    width: 360px;
}

input {
    box-sizing: border-box;
    float: left;
}

input.ng-dirty {
    background-color: lightgreen;
}

textarea {
    box-sizing: border-box;
    width: 360px;
}

textarea.ng-dirty {
    background-color: lightgreen;
}

input[type='text'] {
    width: 360px;
}