div.find-wrapper {
    position: relative;
    height: 21px;
    margin-left: calc(50% - 130px);
    margin-top: 40px;
    z-index: 1;
}

div.find-wrapper > input[type='text'] {
    width: 160px;
}

div.find-wrapper > input[type='button'] {
    margin-left: 20px;
}

div.find-wrapper > i {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 140px;
    background: url(../img/clear-14.png) no-repeat center center;
}

div.tree-wrapper {
    position: relative;
    margin: 0 calc(50% - 150px);
    min-height: 20px;
}

div.form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px calc(50% - 400px);
    z-index: 2;
}

div.form {
    box-sizing: border-box;
    padding: 38px;
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    border: 2px solid black;
}

div.field-wrapper {
    float: left;
    margin-bottom: 10px;
    min-height: 21px;
}

div.field-remove {
    box-sizing: border-box;
    background: url(../img/remove-16.png) no-repeat center center;
    margin-left: 4px;
    margin-top: 2px;
    width: 16px;
    float: left;
    height: 16px;
    position: relative;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

div.tree p {
    width: 100%;
    height: 16px;
}

li > div {
    float: left;
    margin-right: 8px;
    cursor: pointer;
}

li > div:hover {
    background-color: lightgreen;
}

div.tree > i {
    margin-left: 20px;
}

div.tree i {
    float: left;
    height: 16px;
    width: 16px;
    cursor: pointer;
    margin-right: 8px;
    background: no-repeat center center;
}

div.tree i.expand {
    background-image: url('../img/plus-16.png');
}

div.tree i.expand.expanded {
    background-image: url('../img/minus-16.png');
}

div.tree i.expand.empty {
    background-image: none;
    cursor: default;
}

div.tree i.add {
    background-image: url('../img/add-16.png');
}

div.tree i.remove {
    background-image: url('../img/remove-16.png');
}

div > label {
    box-sizing: border-box;
    float: left;
    width: 340px;
    text-align: right;
    margin-right: 20px;
}

input {
    box-sizing: border-box;
    float: left;
}

form.node-form input[type='text'].ng-dirty {
    background-color: lightgreen;
}

textarea {
    box-sizing: border-box;
    float: left;
    width: 340px;
    resize: vertical;
    margin-left: 20px;
}

form.node-form textarea.ng-dirty {
    background-color: lightgreen;
}

input[type='text'] {
    width: 340px;
}

form.node-form > input[type='button'] {
    float: right;
    margin-right: 20px;
}

div.tree-select-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px calc(50% - 400px);
    z-index: 3;
}

div.tree-select-wrapper .form > p {
    cursor: pointer;
}

div.tree-select-wrapper .form > p:hover {
    background-color: lightgreen;
}

div.tree-select-wrapper .form div {
    float: none;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;
}