<!DOCTYPE html>
<html ng-app="catalog">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="nodeController as nodeCtrl">
<ul class="wrapper">
    <li ng-repeat="node in nodeCtrl.nodes">
        <p></p>
        <i ng-class="{'expand': true, 'expanded': node.isExpanded, 'empty': node.nodes.length === 0}"
           ng-click="nodeCtrl.expand(node)"></i>
        <div ng-click="nodeCtrl.edit(node)">{{node.name|limitTo:16}}</div>
        <i ng-class="{'add': true}" ng-click="nodeCtrl.addNode(node)"></i>
        <i ng-class="{'remove': true}" ng-click="nodeCtrl.removeNode(node)"></i>
        <ul ng-show="node.isExpanded && node.nodes" node-tree></ul>
    </li>
</ul>
<div class="form-wrapper" ng-show="nodeCtrl.isFormShow">
    <div class="form">
        <form name="nodeForm">
            <div>
                <label>Name:</label>
                <input id="input-name-field" ng-model="nodeCtrl.newNode.name" type="text"/>
            </div>
            <div ng-repeat="nodeField in nodeCtrl.newNode.fields">
                <input ng-model="nodeField.name" type="text"/>
                <textarea ng-model="nodeField.value"></textarea>
            </div>
            <input ng-click="nodeCtrl.saveNode()" type="button" value="Save"/>
            <input ng-click="nodeCtrl.cancel()" type="button" value="Cancel"/>
        </form>
    </div>
</div>
</body>
</html>
