<!DOCTYPE html>
<html ng-app="catalog">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="css/styles.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="nodeController as nodeCtrl">
<div class="find-wrapper">
    <input id="find-input" type="text" ng-model="nodeCtrl.findQuery">
    <i ng-class="{'remove': true}" ng-click="nodeCtrl.clearFind()"></i>
    <input type="button" value="Поиск" ng-click="nodeCtrl.find()">
</div>
<ul class="tree-wrapper">
    <p></p>
    <i ng-class="{'add': true}" ng-click="nodeCtrl.addNode(nodeCtrl)"></i>
    <li ng-repeat="node in nodeCtrl.nodes">
        <p></p>
        <i ng-class="{'expand': true, 'expanded': node.isExpanded}"
           ng-click="nodeCtrl.expand(node)"></i>
        <div ng-click="nodeCtrl.editNode(node)">{{node.name|limitTo:16}}</div>
        <i ng-class="{'add': true}" ng-click="nodeCtrl.addNode(node)"></i>
        <i ng-class="{'remove': true}" ng-click="nodeCtrl.removeNode(node)"></i>
        <ul ng-show="node.isExpanded && node.nodes" node-tree></ul>
    </li>
</ul>
<div class="form-wrapper" ng-show="nodeCtrl.isFormShow">
    <div class="form">
        <form class="node-form" name="nodeForm">
            <div class="field-wrapper">
                <label>Name:</label>
                <input id="input-name-field" ng-model="nodeCtrl.newNode.name" type="text"/>
            </div>
            <div class="field-wrapper" ng-repeat="nodeField in nodeCtrl.newNode.fields">
                <input ng-model="nodeField.name" type="text"/>
                <textarea ng-model="nodeField.value"></textarea>
                <div class="field-remove" ng-click="nodeCtrl.removeField(nodeField)"></div>
            </div>
            <input ng-click="nodeCtrl.cancel()" type="button" value="Cancel"/>
            <input ng-click="nodeCtrl.saveNode()" type="button" value="Save"/>
            <div class="field-add" ng-click="nodeCtrl.addField()"></div>
        </form>
    </div>
</div>
<div class="tree-select-wrapper">

</div>
</body>
</html>
